# virtual env
venv

# custom rule for exports directory
exports/*
!exports/README.md

# custom rule for processed exports directory
processed_exports/*
!processed_exports/README.md

# misc
.vscode
__pycache__